{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Timeline</title>
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicon/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
<meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'timeline/style.css' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'index_home/favicon_io/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'index_home/favicon_io/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'index_home/favicon_io/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'index_home/favicon_io/site.webmanifest' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="timeline-container" id="timeline-1">
  <div class="timeline-header">
    <h2 class="timeline-header__title">CAREER TIMELINE</h2>
    <h3 class="timeline-header__subtitle">- DHANANJAY -</h3>
  </div>
  <div class="timeline">
    <div class="timeline-item" data-text="BU HEAD- VENDOR PARTNERHSIP RELIANCE">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/ndw5TfoBS2SgQklQMRr7cw7ZDYoQG9QgejeMovX-1OWXDTohgqJgO4lUdO5BTZeO9w_7V01-TPupwU5gGVD2AXPvGtyXK5I6XbkrmEIvkpYqeesAoTTu-XxuW61FpH6PigbC4jwU4g=w2400"/>
        <h2 class="timeline__content-title">RELIANCE - April 2007</h2>
        <p class="timeline__content-desc">Having entered the call center business at the grass roots level I have tried achieving results that often exceeded expectations. Utilizing Center Services as a critical component of Business Development through multiple Marketing channels.  </p>
      </div>
    </div>
    <div class="timeline-item" data-text="DIRECTOR Global Customer Experince">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/5KGfEYh8Vc-j9wHpeSBbOxPBtwQILoLJ7HZkHJSlFmLUKyj_7fDCn4OoCKkCyyPmbx-okEGFoBssJ0L2fSPBbtCBQnDt9uJ_dgWvQETJjQMWuq8ts13Kw5soJIc1Z4xXvY4ePDASjg=w2400"/>
        <h2 class="timeline__content-title">S2S IT Solutions - July 2011</h2>
        <p class="timeline__content-desc">Ensured 500% Revenue Growth of the Company within a year.

          Managed ramp ups from 160 employees to 3100 Employees.
          
          Effectively managed all the business functions such as Operations, HR, IT, CRM, Finance, Training & Quality, Business Development & Transitions.
          
          On boarded 27 various clients in Global BPO environments and ensured the growth strategy
          
          Managed IT / CRM / Dialer solutions as a preset of Business Solutions and pre sales.
          
          Managed Finances, Taxes & Vendors across the board towards the negotiations & Effective Fi-nance controls.
          
          Developed and launched two additional sites in Mumbai for the Global Service Delivery.
          
          Managed Client relationships and enhanced diversified portfolios.
          
          Provided leadership to ensure that the mission, ethical values and core guiding principles of the Company are put into practice.
          
          Lead the executive management team to be effective developers of solutions to business challenges thereby establishing credibility in the BPO market place
          
          Responsible for driving the Company to achieve and surpass sales, profitability, cash flow, business goals and objectives.
          
          Motivate and lead a high-performance management team provide mentoring as a cornerstone to the management career development program.
          
          Spearhead the development, communication and implementation of effective growth strategies and processes.
          
          Collaborate with the executive management team to develop and implement plans for the operation-al infrastructure of systems, processes and personnel designed to accommodate the growth objectives of the Company.
          
          Foster a success-oriented, accountable environment within the Company.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="Vice President - HiTech & Hospitatlity">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/4s3mo8cyr4smw2DGL7gx4tSbt1HTNwrFpvvdY7L0zyjcKcFInftY778ErktG-DvL0Z3HeYc91RgLyLFrJO596Lzb3jQkP-kiM9SsmNXAZy_eONEmhf0f66OtH7zOXPAqodxNNqEpcg=w2400"/>
        <h2 class="timeline__content-title">Genpact - July 2018</h2>
        <p class="timeline__content-desc">A dynamic management career enriched with strong leadership, planning, revenue-maximization by higher ROI, cost-minimization, customer relationship and team building skills. Significant success in managing process P&L & Service Delivery.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="Senior Director - CX & Growth">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/V2ymZX2smaKWQ02cP2viE1YjZbk0Muhu5cK1iNFl41xvlImXzjg90j4qhQFAP0v1Y5QSPY1YgL-M04pYy66b8Cb4jy9xVLSDZunoDncXWgbZEMRZde_7m3OTd9iho3cIWR4dmgv5jg=w2400"/>
        <h2 class="timeline__content-title">Fusion BPO - Februray 2019</h2>
        <p class="timeline__content-desc">A strategic thinker with a flair for charting out strategies for sales and customer service and contributing towards enhancing business volumes & growth and achieving profitability norms.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="Director International Operations">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/dHfthrkcZzeNC1eihwWhNJehVOMriT0bXPj-sTwHLC6zkwiK_G1RGdshAySwlFBbkdkvJFdZOFdtJlFBOQDgdM08gxHhKZPw2lOovsD7NxaPLFyGb9JTpaijYS6TB5HzaYKS_sFSwg=w2400"/>
        <h2 class="timeline__content-title">WhiteHat Jr - March 2020</h2>
        <p class="timeline__content-desc">Involved in imperative work development and delight to fulfill the organizational requirements and to possess a challenging position utilizing abilities developed through my experience and education. </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Head Operation & Growth">
      <div class="timeline__content"><img class="timeline__img" src="https://lh3.googleusercontent.com/7aAMZANQQ4cRARImmBqiKudACJmXIw8nluvCOs2AZ5pPxCNeeNMssGCewDhFv9yYtq8MvSbV8hYabjOicBOISc_PgwytUQjvlFf6DThYJgiVcamF6i_G9BLqVwdME9PQPIU4pOeJgQ=w2400"/>
        <h2 class="timeline__content-title">Kyt - Janruray 2021</h2>
        <p class="timeline__content-desc">A dynamic management career enriched with strong leadership, planning, revenue-maximization by higher ROI, cost-minimization, customer relationship and team building skills. Significant success in managing process P&L & Service Delivery.</p>
      </div>
    </div>


  </div>
</div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="{% static 'timeline/script.js' %}"></script>

</body>
</html>
